body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
  }
  .Esquerda{
    text-align: left;
    
  }
  
  h1 {
    color: #333;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .horizontal-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .horizontal-group label {
    width: 120px;
    margin-right: 10px;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .Botão{
    font-style: italic;
    font-size: 20px;
  }
  .Butão{
    font-size: 20px;
  }